<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Composition" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Search Console Verification -->
  <meta name="google-site-verification" content="MZB2Z8UgfASX2bMNbDXUkexPW0N17_QTgudswaW2zMc" />

  <!-- Keywords -->
  <meta name="keywords" content="Lisa Kim, Lisa Kim Northwestern, Lisa Kim Neuroscience, Lisa Kim Dopamine, Awatramani Lab">

  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
</head>
